.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; 
}