

.interaction-container{
display: flex;
flex-direction: row;
justify-content: center;
}
.newButton{
    width: 3em;
    height: 3em;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .toggle-button {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .toggle-button:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  .toggle-button:last-child {
    border-radius: 0 8px 8px 0;
  }
  
  .toggle-button:hover {
    background-color: #e0e0e0;
  }
  
  .toggle-button.selected {
    background-color: #333;
    color: white;
  }
  